h1 {
  font-size: 30px;
  font-family: arial;
}

body {
  font-size: 12px;
  font-family: arial;
  color: black;
  scroll-behavior: smooth;

}

ul {
  list-style-type: none;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

span {
  color: green;
}

input {
  font-size: 12px;
}

p {
  font-size: 12px;
}

input[type=text],
select {
  font-family: arial;
  width: 300px;
  height: 70px;
  padding: 2px 2px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  color: rgb(3, 3, 3);
  font-size: 25px;
}

.logo {
  width: 30%;
  height: 10%;
}

div {
  padding: 5px 10px;
  margin: 0px 0;
  font-size: 12px;
}

a {
  color: black;
}

.companyLinks {
  color: white;
}

div.contentDiv {
  background-color: black;
}

.infoDivs {
  border: 0.5px solid black;
  background-color: black;
  color: white;
  font-size: 12px;

}

.name {
  border: 0.5px solid white;
  background-color: green;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(90deg, rgb(0, 128, 111), rgb(0, 87, 128), rgb(255, 255, 246));
}

.result {
  color: green;
  font-weight: bold;
}

.result-negative {
  color: red;
  font-weight: bold;
}

.mini_text {
  font-size: 12px;
}

p.hint {
  font-size: 15px;
}

.output {
  font-size: 15px;
}

.formula {
  font-size: 15px;
}

* {
  box-sizing: border-box;
}

.menu {
  float: left;
  width: 20%;
  text-align: center;
}

.menu a {
  padding: 8px;
  margin-top: 7px;
  display: block;
  width: 100%;
}

.main {
  float: left;
  width: 60%;
  padding: 0 20px;
}

.right {
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}

.footer {
  background-color: #e5e5e5;
  text-align: center;
  padding: 10px;
  margin-top: 7px;
}

.container {
  display: flex;
  /* Aligns children in a row by default */
  justify-content: space-between;
  /* Optional: Add space between the divs */
  border: 1px solid #ccc;
}

.box {
  width: 45%;
  /* Set the width of each div */
  padding: 20px;

  text-align: center;
}

@media only screen and (max-width:620px) {

  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }

  input[type=text],
  select {
    width: 100%;
    font-size: 25px;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    background-color: #f2f2f2;
  }

  .logo {
    width: 10%;
    height: 2%;
  }

  .menu a {
    padding: 4px;
    margin-top: 3.5px;
    display: inline;
    width: 100%;
  }
}